---
export const prerender = true;

import RootLayout from "@/layouts/RootLayout.astro";

const title = "Get started";
---

<RootLayout
  title={`${title} - Plank CMS`}
  description="A self-hosted headless CMS you can deploy in minutes"
  image="https://plank-cms.com/og-image.png"
  url="https://plank-cms.com/start"
>
  <h1 class="sr-only">{title}</h1>
</RootLayout>
