---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridSix from "@/layouts/grids/GridSix.astro";
import LogoTile from "@/components/LogoTile.astro";
import type { LogoTileProps } from "@/types";

type Props = {
  clients: LogoTileProps[];
};

const { clients } = Astro.props;
---

<GridContainer class="pb-16">
  <GridTwo>
    <div class="col-span-2">
      <h2 class="text-muted-foreground text-sm font-bold uppercase">
        Trusted by creators and brands
      </h2>
    </div>
  </GridTwo>

  <GridSix>
    {
      clients.map((client) => (
        <div class="col-span-1">
          <LogoTile {...client} />
        </div>
      ))
    }
  </GridSix>
</GridContainer>
