---
import GridContainer from "@/layouts/GridContainer.astro";
import GridSix from "@/layouts/grids/GridSix.astro";
import type { PageDescriptionProps } from "@/types";

type Props = PageDescriptionProps;

const { description, variant = "default" } = Astro.props;

const variantClasses = {
  default: "text-3xl",
  display: "text-4xl md:text-5xl font-bold uppercase",
};
---

<GridContainer class="pb-16">
  <GridSix>
    <div class="col-span-full">
      <p class={variantClasses[variant]}>{description}</p>
    </div>
  </GridSix>
</GridContainer>
