---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...props } = Astro.props as Props;
---

<div
  data-slot="avatar-group"
  class={cn(
    "group/avatar-group flex -space-x-2 *:data-[slot=avatar]:ring-2 *:data-[slot=avatar]:ring-background",
    className,
  )}
  {...props}
>
  <slot />
</div>
