---
import type { GridProps } from "@/types";

type Props = GridProps;

const { class: className, gap = "gap-4" } = Astro.props;
---

<section class:list={["col-span-2 md:col-span-6", className]}>
  <div class:list={["grid grid-cols-2 md:grid-cols-6", gap]}>
    <slot />
  </div>
</section>
