---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { RefreshCwIcon } from "@lucide/astro";

interface Props {
  title: string;
  updated?: string;
  quote?: string;
}

const { title, updated, quote } = Astro.props;
---

<GridContainer class="mb-16">
  <GridTwo class="mb-8">
    <div class="col-span-full">
      <h1 class="text-3xl md:text-4xl font-bold uppercase">{title}</h1>

      {
        updated && (
          <span
            class="flex items-center gap-2 text-sm text-muted-foreground mt-6"
            title="Updated At"
          >
            <RefreshCwIcon size={16} />
            {updated}
          </span>
        )
      }
    </div>
  </GridTwo>

  <GridFour>
    <div class="col-span-full">
      {quote && <p class="text-2xl mb-8">{quote}</p>}

      <slot />
    </div>
  </GridFour>
</GridContainer>
